doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script( href='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js')
  body
    block content